html, body, section, article, button,
 h1, h2, p, strong, em, a, ul, li {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   font-family: 'Gorditas', cursive;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }
 ul, li {
   list-style: none;
 }

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 /**/

 .container {
   position: fixed;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;

   color: #fafafa;

   background-image: url('background1.png');
   background-size: cover;
 }

 .game {
   width: 800px;
   margin: auto;
   position: relative;
 }

 .header {
   display:block;
   font-size: 48px;
   text-align: center;
   margin: 50px auto 20px auto;
   width: 760px;
   background: #eaeaea;
   color: #151515;
   border-radius: 10px;
   padding: 10px 20px;
 }

 .menu {
  float: left;
  text-align: center;
  background: #eaeaea;
  margin-right: 20px;
  padding: 20px;
  color: black;
  background: #eaeaea;
  border-radius: 10px;
 }

 .start-button, .pause-button {
  background: #342e66;
  padding: 10px 20px;
  cursor: pointer;
  float: left;
  box-shadow: 0 0 1px #151515;
  color: #fefefe;
  margin: 0 0 20px 0;
 }

 .start-button:before {
  content: "Start the Conga";
 }

 .pause-button:before {
  content: "Pause Game";
 }

 .pause-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #151515;
  opacity: .9;
 }

 .game-board {
  width: 500px;
  height: 500px;
  background-image: url('background.jpg');
  background-size: cover;

  box-shadow: inset 0 0 5px #fafafa;
  border: 5px solid #151515;
  float: left;
  position: relative;
 }

 .game-over {
  background: #151515;
  text-align: center;
 }

 .game-over > H2 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-top: 150px;
 }

 .game-board li {
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  background: transparent;
 }

 .game-board li.snake {
  background-image: url('FellaConga.png');
  background-size: cover;
  color: white;
  text-align: center;
 }

 .game-board li.snake.first {
   background-image: url('FellaCongaLeader.png');
 }

 .game-board li.N {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
 }

 .game-board li.S {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
 }

 .game-board li.E {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
 }

 .game-board li.apple {
   background-image: url('Waiting.png');
   background-size: cover;
 }

 .game-board li.snake.W.top-left-corner,
 .game-board li.snake.S.bottom-right-corner {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-image: url('FellaCongaLeader.png');
 }

 .game-board li.snake.N.top-right-corner,
 .game-board li.snake.W.bottom-left-corner  {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background-image: url('FellaCongaLeader.png');
 }

 .game-board li.snake.E.top-right-corner,
 .game-board li.snake.S.bottom-left-corner {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-image: url('FellaCongaLeader.png');
 }

 .game-board li.snake.N.top-left-corner,
 .game-board li.snake.E.bottom-right-corner {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg); 
  transform: rotate(135deg);
   background-image: url('FellaCongaLeader.png');
 }
